#maven ignore
target/

#idea ignore
#.idea/
/idea/
*.iws
*.iml
*.ipr

#package ignore
#*.jar
*.class
*.war
*.ear

#eclipse ignore
.settings/
.project
.classpath

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thums.db
